In [1]:
import pandas as pd
import numpy as np
from datetime import datetime
import os

In [2]:
#Read the csv file
austin_df = pd.read_csv('austin_311_service_requests.csv',low_memory=False)

#Create a df with the approriate columns that we need.
austin_df = austin_df[["city", "county", "incident_zip", "created_date", "owning_department", "complaint_description", "complaint_type"]]

#Clean up the columns and put them in order.
austin_df = austin_df.rename(columns={"city":"City", "county":"County","incident_zip":"Incident Zip",
                                      "created_date":"Date", "owning_department":"Department",
                                      "complaint_description":"Complaint Description","complaint_type":"Type of Complaint"})
austin_df.head(10)

,City,County,Incident Zip,Date,Department,Complaint Description,Type of Complaint
0,AUSTIN,TRAVIS,78741.0,2015-01-20 10:41:48,Animal Services Office,Loose Dog,ACLONAG
1,AUSTIN,TRAVIS,78757.0,2016-05-22 10:00:49,Animal Services Office,Loose Dog,ACLONAG
2,AUSTIN,TRAVIS,78744.0,2014-01-06 18:04:00,Animal Services Office,Loose Animal (not dog),ACLOANIM
3,AUSTIN,TRAVIS,78727.0,2014-11-15 15:43:41,Austin Code Department,Austin Code - Request Code Officer,CODECOMP
4,AUSTIN,TRAVIS,78723.0,2014-07-28 17:33:00,Animal Services Office,Animal - Proper Care,ACPROPER
5,AUSTIN,TRAVIS,78702.0,2016-06-20 16:44:00,Animal Services Office,Animal - Proper Care,ACPROPER
6,AUSTIN,TRAVIS,78744.0,2015-08-25 11:03:04,Austin Code Department,Austin Code - Request Code Officer,CODECOMP
7,AUSTIN,TRAVIS,78749.0,2014-08-26 13:01:00,Austin Water Utility,Water Waste Report,WWREPORT
8,AUSTIN,TRAVIS,78702.0,2015-06-19 16:31:06,Parks & Recreation Department,Park Maintenance - Pool Issues,PRMTPOOL
9,AUSTIN,TRAVIS,78759.0,2017-08-01 12:55:03,Austin Code Department,Austin Code - Request Code Officer,CODECOMP

In [3]:
#Replace the empty rows with 'NaN'.
austin_df.replace('', np.nan, inplace=True)

#Drop rows with 'NaN'.
cleanaustin_df = austin_df.dropna(how="any")

In [4]:
cleanaustin_df.head(15)

,City,County,Incident Zip,Date,Department,Complaint Description,Type of Complaint
0,AUSTIN,TRAVIS,78741.0,2015-01-20 10:41:48,Animal Services Office,Loose Dog,ACLONAG
1,AUSTIN,TRAVIS,78757.0,2016-05-22 10:00:49,Animal Services Office,Loose Dog,ACLONAG
2,AUSTIN,TRAVIS,78744.0,2014-01-06 18:04:00,Animal Services Office,Loose Animal (not dog),ACLOANIM
3,AUSTIN,TRAVIS,78727.0,2014-11-15 15:43:41,Austin Code Department,Austin Code - Request Code Officer,CODECOMP
4,AUSTIN,TRAVIS,78723.0,2014-07-28 17:33:00,Animal Services Office,Animal - Proper Care,ACPROPER
5,AUSTIN,TRAVIS,78702.0,2016-06-20 16:44:00,Animal Services Office,Animal - Proper Care,ACPROPER
6,AUSTIN,TRAVIS,78744.0,2015-08-25 11:03:04,Austin Code Department,Austin Code - Request Code Officer,CODECOMP
7,AUSTIN,TRAVIS,78749.0,2014-08-26 13:01:00,Austin Water Utility,Water Waste Report,WWREPORT
8,AUSTIN,TRAVIS,78702.0,2015-06-19 16:31:06,Parks & Recreation Department,Park Maintenance - Pool Issues,PRMTPOOL
9,AUSTIN,TRAVIS,78759.0,2017-08-01 12:55:03,Austin Code Department,Austin Code - Request Code Officer,CODECOMP
10,COUPLAND,TRAVIS,78615.0,2016-08-14 18:22:51,Animal Services Office,Loose Dog,ACLONAG
11,AUSTIN,TRAVIS,78750.0,2015-02-21 13:25:39,Austin Water Utility,Water Waste Report,WWREPORT
12,AUSTIN,TRAVIS,78702.0,2016-03-09 14:46:45,Public Works,Pavement Failure,SBPAVEFA
13,AUSTIN,TRAVIS,78701.0,2016-08-17 11:46:27,Austin Code Department,Austin Code - Request Code Officer,CODECOMP
14,AUSTIN,TRAVIS,78702.0,2014-05-15 10:13:41,Transportation,Sign - Traffic Sign Emergency,SIGNTRAF

In [5]:
#Get rid of cities that aren't in Austin.
value_list = ['AUSTIN', 'Austin', 'austin']
austincity_df = cleanaustin_df[cleanaustin_df.City.isin(value_list)]

#Keep cities that are 'Austin' only in Travis county.
value_list = ['TRAVIS']
austin311_df = austincity_df[austincity_df.County.isin(value_list)]

In [6]:
austin311_df.count()

City                     422852
County                   422852
Incident Zip             422852
Date                     422852
Department               422852
Complaint Description    422852
Type of Complaint        422852
dtype: int64

In [7]:
# Change the zip to an integer
austin311_df["Incident Zip"] = austin311_df["Incident Zip"].astype(int)

#Drop the City and County
austin311_df.drop('City',axis=1, inplace=True)
austin311_df.drop('County',axis=1, inplace=True)

#Change the date to a datetime format.
austin311_df['Date'] = pd.to_datetime(austin311_df['Date'], format='%Y/%m/%d')

#Create columns for year and month. 
austin311_df['Year'] = austin311_df['Date'].dt.year
austin311_df['Month'] = austin311_df['Date'].dt.month
#austin311_df['Month'] = austin311_df['Date'].dt.strftime("%B") for adding the text for month.
austin311_df.head()

/Users/tom/anaconda/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

/Users/tom/anaconda/lib/python3.6/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """
/Users/tom/anaconda/lib/python3.6/site-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

/Users/tom/anaconda/lib/python3.6/site-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':
/Users/tom/anaconda/lib/python3.6/site-packages/ipykernel_launcher.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if sys.path[0] == '':
/Users/tom/anaconda/lib/python3.6/site-packages/ipykernel_launcher.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  del sys.path[0]

,Incident Zip,Date,Department,Complaint Description,Type of Complaint,Year,Month
0,78741,2015-01-20 10:41:48,Animal Services Office,Loose Dog,ACLONAG,2015,1
1,78757,2016-05-22 10:00:49,Animal Services Office,Loose Dog,ACLONAG,2016,5
2,78744,2014-01-06 18:04:00,Animal Services Office,Loose Animal (not dog),ACLOANIM,2014,1
3,78727,2014-11-15 15:43:41,Austin Code Department,Austin Code - Request Code Officer,CODECOMP,2014,11
4,78723,2014-07-28 17:33:00,Animal Services Office,Animal - Proper Care,ACPROPER,2014,7

In [8]:
#Save the file as a .csv
austin311_df.to_csv('austin311_df.csv', encoding='utf-8', index=False)

In [9]:
#Drop the Type of Complaint, Complaint Description, and Date.
new_austin311_df = austin311_df.drop(["Date","Complaint Description","Type of Complaint", "Incident Zip"], axis=1)

In [10]:
new_austin311_df.head()

               Department  Year  Month
0  Animal Services Office  2015      1
1  Animal Services Office  2016      5
2  Animal Services Office  2014      1
3  Austin Code Department  2014     11
4  Animal Services Office  2014      7

In [11]:
#Pivot the table to make 'Year' the index and get the counts for Department and Zip.
austin311_year = new_austin311_df.pivot_table(new_austin311_df, index=['Year','Month'], aggfunc='count')
austin311_year.head()

            Department
Year Month
2013 12             44
2014 1            8192
     2            7466
     3            9253
     4           10751

In [12]:
#Drop the year 2013 since it has only one month.
austin311_year.drop(austin311_year.index[[0]],inplace=True)
austin311_year.head()

            Department
Year Month
2014 1            8192
     2            7466
     3            9253
     4           10751
     5           10124

In [13]:
#Pivot the table to make 'Year' the index and get the counts for Department and Zip.
#austin311_zip = new_austin311_df.pivot_table(new_austin311_df, index=['Incident Zip'], aggfunc='count')
#austin311_zip.head()

#Pivot the df so 'Month' is the index 
austin311_month = austin311_year.pivot_table('Department', ['Month'],'Year' )
austin311_month

Year      2014     2015     2016     2017
Month
1       8192.0   8357.0   8379.0   4088.0
2       7466.0   7745.0   8072.0   1556.0
3       9253.0   9929.0   9618.0   8046.0
4      10751.0  11022.0  10702.0   6541.0
5      10124.0  13462.0  11843.0  10234.0
6      11943.0  14552.0  10828.0  10389.0
7      11593.0  12991.0   9082.0   9706.0
8      11625.0  11767.0  11141.0   5423.0
9      11651.0  10779.0  11616.0      NaN
10     10955.0  11488.0   9749.0      NaN
11      8407.0   9273.0   8387.0      NaN
12      8417.0   8008.0   7658.0      NaN